html, body {
    background-color: lightgray;
}

#list1 {
    color: purple;
    list-style: none;
}

li.active {
    display: block;
    background-color: #212529 !important;
    color: white !important;
    float: left;
    width: 50%;

}

.card {
    width: 12rem;
}